<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Example App</title>
    <link rel="stylesheet" href="/app/public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/app/public/css/main.css">
</head>

<body>
    {{{body}}}
    <script src="/app/public/vendor/jquery.min.js"></script>
    <script src="/app/public/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/app/public/js/main.js"></script>
    <script type="text/javascript" src="/app/public/js/select.js"></script>
</body>

</html>
