<div class="container">
    <div class="col-sm-6">
        <form>
            <div class="form-group">
                <select class="selectpicker form-control" id="country" name="country">
                    <option value=""> Select Country </option>
                </select>
                </br>
                <select class="selectpicker form-control" id="state" name="state">
                    <option value=""> Select State </option>
                </select>
                </br>
                <select class="selectpicker form-control" id="city" name="city">
                    <option value=""> Select City </option>
                </select>
            </div>
        </form>
    </div>
</div>
